.QR_Reader{
    text-align: center;
    
    /* padding:4rem */
}
.QR_Reader >section {
    height:60vh
    /* padding:10rem */
}

.QR_Reader >section >div >video{
    margin-top: 2rem;
    height:50vh !important;
    width:50vw !important;
    margin-left:23rem;
}

.QR_Reader >h4{
    margin-top: 4rem;
}




  